body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

a {
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

input[type="text"], input[type="number"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #2611ea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Green color for both buttons */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
}

#chartsRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
